# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.env
.idea
# Virtual environment directories
env/
venv/
.venv/

# Environment variables
.env
.env.*

# Logs and temporary files
*.log
*.tmp
*.out
*.err
.DS_Store

# Dependency management
Pipfile.lock
poetry.lock

# IDE specific files
.vscode/
.idea/

# Testing and Coverage
*.pytest_cache/
.coverage
htmlcov/

# Build and Distribution
build/
dist/
*.egg-info/
*.egg
